.title-card{
    position: absolute;
}
.content-card{
    position: absolute;

}
.Card_course{
    height: 400px;
}
.courseCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }